

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin font-size($min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin laptop-xl{
  @media(max-width:#{$laptop-xl}) {
    @content;
  }
}


@mixin laptop-l{
  @media(max-width:#{$laptop-l}) {
    @content;
  }
}


@mixin laptop-m{
  @media(max-width:#{$laptop-m}) {
    @content;
  }
}

@mixin laptop{
  @media(max-width:#{$laptop}) {
    @content;
  }
}


@mixin tablet{
  @media(max-width:#{$tablet1}) {
    @content;
  }
}


@mixin mobile{
  @media(max-width:#{$mobile}) {
    @content;
  }
}

@mixin mobile-m{
  @media(max-width:#{$mobile-m}) {
    @content;
  }
}

@mixin mobile-s{
  @media(max-width:#{$mobile-s}) {
    @content;
  }
}





