$theme_yellow : #FFBE00;
$theme_blue : #1C819E;
$theme_red :  #A71717;

$fc-primary : rgb(37, 40, 46);
$dark: rgb(36, 39, 45);
$success: #19A717;
$info: #1C819E;
$danger: #A71717; 
$secondary: rgb(40, 47, 61);
$white: #ffffff;
$bg-input: #F2F5F8;
$shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

$radius-40: 40px;
$radius-8: 8px;

$primary-op3:  rgba(37, 40, 46, 0.3);
$primary-op5:  rgba(37, 40, 46, 0.5);
$primary-op6:  rgba(37, 40, 46, 0.6);
$primary-op8:  rgba(37, 40, 46, 0.8);
$border-outline: rgba(37, 40, 46, 0.05);

$header_height: 65px;
$input_border_radius: 40px;
$button_border_radius: 40px;
$card_border_radius: 8px;
$card_padding: 20px;
$card_margin: 20px;
$border_shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
$heading: 17px;

$min-vw : 320px;
$max-vw: 1920px;

$laptop-l: 1440px;
$laptop: 1024px;
$tablet1: 768px;
$mobile: 500px;
$mobile-m: 375px;

$drawer: 1001;

$img-path: '../assest/icons/';